.card
    display: flex
    justify-content: space-between
    flex-direction: column
    border: 1px solid #dddddd
    box-shadow: 0 2px 2px #cccccc
    border-radius: 2px
    background: #f8f8f8
    color: #343434

    & > *
        padding: $gutter-small
        margin: 0

    .card-title
        font-weight: bold

    .card-content
        position: relative
        height: 100%

    .actions
        +grid(2)
        grid-template-columns: 1fr 35%!important

        .comment
            display: flex

            textarea
                width: 100%

            textarea + .button
                border-top-left-radius: 0
                border-bottom-left-radius: 0

    .button
        padding: $gutter-small