.trellowdown-menu
    display: flex
    flex-direction: column
    justify-content: space-between
    position: fixed
    left: 0
    top: 0
    max-width: calc((100vw - (#{$site-width} + #{$gutter} + 17px)) / 2)
    height: calc(100% - 74px)
    padding: 20px
    background: #FFF
    overflow-y: auto